<div class="sidebar flex flex-col p-3 bg-[var(--background-color)] text-gray-900 h-screen">
  <a class="text-xl font-bold text-center mb-4" href="#">CarRental</a>

  <ul class="space-y-2">
    <li>
      <a routerLink="/dashboard" routerLinkActive="active">
        <fa-icon [icon]="faChartLine"></fa-icon> {{ 'SIDEBAR.DASHBOARD' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/vehicles" routerLinkActive="active">
        <fa-icon [icon]="faCar"></fa-icon> {{ 'SIDEBAR.VEHICLES' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/reservations" routerLinkActive="active">
        <fa-icon [icon]="faCalendarAlt"></fa-icon> {{ 'SIDEBAR.RESERVATIONS' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/clients" routerLinkActive="active">
        <fa-icon [icon]="faUsers"></fa-icon> {{ 'SIDEBAR.CLIENTS' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/payments" routerLinkActive="active">
        <fa-icon [icon]="faCreditCard"></fa-icon> {{ 'SIDEBAR.PAYMENTS' | translate }}
      </a>
    </li>
    <li>
      <a routerLink="/user-management" routerLinkActive="active">
        <fa-icon [icon]="faUserCog"></fa-icon> {{ 'SIDEBAR.USER_MANAGEMENT' | translate }}
      </a>
    </li>
  </ul>
</div>
