@import "tailwindcss";


:root {
  --primary-color: #00AFF0;
  --background-color: #d3d3d3;
  --text-color: #344054;
  --hover-color: #e2e8f0;
  --seconday-background-color: #f7fafc;

}

body {
  background-color: var(--background-color);
  color: var(--text-color);
}



.sidebar a.active {
  color: var(--primary-color);
  font-weight: bold;
}



body.dark-mode {
  --background-color: #1a202c;
  --seconday-background-color: #282a2f;
  --text-color: #ffffff;
  --hover-color: #374151; /* Dark gray for dark mode */

}
.sidebar a:hover {
  background-color: var(--hover-color);
}
